django>=3.2.6,<3.3.0
ipython>=7.27.0,<7.29.0
pillow>=8.3.1,<8.5.0
djangorestframework>=3.12.4,<3.13.0
# markdown>=3.3.4,<3.4.0
# Pygments>=2.10.0,<2.11.0
# pymdown-extensions>=8.2.0,<9.1.0
django-preferences>=1.0.0,<1.1.0
# markdown-headdown>=0.1.3,<0.2.0
django-doctor>=2.6.0,<2.7.0
django-gravatar2>=1.4.4,<1.5.0
# --extra-index-url https://dl.fontawesome.com/2691A127-5CA3-4D12-9472-192F1F9D4BFD/fontawesome-pro/python/simple/
# fontawesomepro>=5.15.4,<6.0.0
dj-pagination>=2.5.0,<2.6.0
dj-hitcount>=1.1.0,<1.2.0
django-ckeditor>=6.1.0,<6.2.0
django-maintenance-mode>=0.16.1,<0.17.0
django-secretballot>=2.0.0,<2.1.0
django-likes>=2.0.1,<2.1.0
python-dotenv>=0.19.1,<0.20.0
gunicorn>=20.1.0,<20.2.0
psycopg2>=2.9.1,<2.10.0
django-user-sessions>=1.7.1,<1.8.0
geoip2>=4.4.0,<4.5.0
