django>=3.2.6,<3.3.0
ipython>=7.27.0,<7.28.0
pillow>=8.3.1,<8.4.0
djangorestframework>=3.12.4,<3.13.0
markdown>=3.3.4,<3.4.0
Pygments>=2.10.0,<2.11.0
pymdown-extensions>=8.2.0,<8.3.0
django-preferences>=1.0.0,<1.1.0
markdown-headdown>=0.1.3,<0.2.0
