django>=3.2.6,<3.3.0
ipython>=7.27.0,<7.29.0
pillow>=8.3.1,<8.5.0
djangorestframework>=3.12.4,<3.13.0
django-preferences>=1.0.0,<1.1.0
django-doctor>=2.6.0,<2.7.0
django-gravatar2>=1.4.4,<1.5.0
dj-pagination>=2.5.0,<2.6.0
dj-hitcount>=1.1.0,<1.2.0
django-ckeditor>=6.1.0,<6.2.0
django-maintenance-mode>=0.16.1,<0.17.0
django-secretballot>=2.0.0,<2.1.0
django-likes>=2.0.1,<2.1.0
python-dotenv>=0.19.1,<0.20.0
gunicorn>=20.1.0,<20.2.0
psycopg2>=2.9.1,<2.10.0
django-user-sessions>=1.7.1,<1.8.0
geoip2>=4.4.0,<4.5.0
django-xforwardedfor-middleware==2.0
newrelic>=7.2.2,<7.3.0
