*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  --page-background: hsla(0, 7%, 97%, 0.5);
  --block-background: hsl(30, 10%, 97%);
  --block-title: hsl(30, 10%, 94%);

  --standard-text: hsl(0, 0%, 25%);

  --faded-border: hsla(0, 0%, 83%, 0.596);
  --faded-text: hsla(0, 0%, 20%, 0.6);
  --very-faded-text: hsla(0, 0%, 38%, 0.4);

  --button-background-color: hsl(30, 20%, 90%);
  --btn-background-disabled: inherit;

  --body-links: hsla(221, 54%, 45%, 0.8);

  --sidebar-links: hsla(0, 0%, 20%, 0.8);
  --sidebar-links-hover: black;

  --light-blue: rgba(0, 0, 255, 0.507);

  --code-background: rgba(211, 211, 211, 0.2);

  --content-line-height: 1.4;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--standard-text);
  margin: 0;
}

.noscript_wrapper {
  padding: 1em;
  background-color: hsla(120, 61%, 50%, 0.424);
  text-align: center;
  font-size: 1.2em;
}

.maintenance_wrapper {
  padding: 1em;
  background-color: pink;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.noscript_strong {
  font-weight: bold;
}

.site_container {
  width: 90%;
  margin: 1em auto;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  overflow: hidden;
  max-width: 1280px;
  background-color: var(--page-background);
}

.site_header_container {
  display: grid;
  position: relative;
}

.site_header {
  padding: 0 0.5em;
  margin: 0.5em 0;
  margin-bottom: 0;
  margin: 0;
  border-bottom: 1px solid var(--faded-border);
}

.site_header a {
  position: relative;
  display: inline-block;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-decoration: none;
  color: hsl(162, 16%, 13%);
}

.maintenance_site_header {
  text-align: center;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 4em;
  letter-spacing: 2px;
  text-decoration: none;
  color: hsl(162, 16%, 13%);
  margin-bottom: 0;
}

.maintenance_site_heading {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  width: 70%;
  letter-spacing: 2px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0 auto;
}

.maintenance_info {
  text-align: center;
  width: 70%;
  margin: 2em auto;
}

.site_header_heading {
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
}

.site_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  margin: 0;
  margin-top: 1em;
  border-top: 1px solid var(--faded-border);
}

.footer_citation {
  font-size: 0.9em;
  color: var(--faded-text);
}

.site_footer_engine {
  text-decoration: none;
  color: var(--sidebar-links);
}

.site_footer_engine:hover {
  color: var(--sidebar-links-hover);
}

.site_footer_author {
  text-decoration: none;
  font-style: italic;
  color: var(--sidebar-links);
}

.site_footer_author:hover {
  color: var(--sidebar-links-hover);
}

.content_container {
  display: grid;
  grid-template-columns: auto minmax(250px, 20%);
  column-gap: 1em;
  padding: 0 1em;
}

.no_posts_yet {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  font-size: 3em;
  margin: 0 auto;
}

.no_posts_strong {
  font-weight: bold;
  font-variant: small-caps;
}

.no_posts_site {
  font-family: "Big Shoulders Stencil Display", cursive;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.popular_posts {
  display: none;
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
}

.sidebar_container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.sidebar_article {
  margin: 0;

  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--block-background);
  overflow: hidden;
}

.sidebar_tags_content {
  text-align: center;
}

.sidebar_no_content {
  text-align: center;
}

.sidebar_tag {
  display: inline-block;
  margin: 0.2em 0.2em;
  padding: 0.1em 0.2em;
  border-radius: 5px;
  border: 1px solid var(--faded-border);

  color: var(--sidebar-links);
  background-color: var(--button-background-color);
  text-decoration: none;
  font-size: 0.8em;
}

.sidebar_link {
  display: block;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: var(--sidebar-links);
}

.sidebar_link:hover {
  color: var(--sidebar-links-hover);
}

.sidebar_admin {
  text-align: center;
}

.sidebar_user {
  text-align: center;
}

.sidebar_rss {
  text-align: center;
}

.sidebar_danger {
  color: red;
}

.sidebar_danger:hover {
  font-weight: bold;
  color: red;
}

.sidebar_separator,
.profile_separator {
  border-width: 0;
  height: 1px;
  color: var(--faded-border);
  background-color: var(--faded-border);
}

.sidebar_search_form {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.sidebar_search_form input {
  width: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
}

.embedded_search {
  display: none;
}

.sidebar_article_header {
  text-align: center;
  padding: 0.2em 0;
  font-size: 1.2em;
  border-bottom: 1px dotted var(--faded-border);
  background-color: var(--block-title);
}

.sidebar_article_header_link {
  text-decoration: none;
  color: var(--sidebar-links);
}

.sidebar_article_header_link:hover {
  color: var(--sidebar-links-hover);
}

.sidebar_article_content {
  padding: 0.5em;
}

.nav a {
  text-decoration: none;
  color: #1b2522;
}

.gravatar {
  height: 2em;
  width: 2em;
}

.main_container {
  overflow: auto;
}

.pinned_post_outer {
  position: relative;
}

.pinned_post_wrapper {
  margin-bottom: 1em;
  top: 0;
  overflow: hidden;
}

.pinned_post_wrapper .blog_summary {
  border: 1px solid var(--faded-text);
}

.pinned_icon {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 2em;
}

.pinned_icon svg {
  filter: drop-shadow(0px 0px 1px rgb(235, 11, 11));
}

.blog_article {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--block-background);
}

.blog_summary {
  display: grid;
  gap: 1em;
  grid-template-columns: 40% auto;
  margin-bottom: 1em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--block-background);
}

.blog_summary_draft,
.blog_article_draft {
  border: 2px dashed red;
}

.blog_summary_image {
  width: 100%;
  padding: 0.5em;
}

.blog_summary_title {
  align-self: start;
  margin: 0;
}

.blog_summary_desc {
  align-self: start;
}

.blog_read_more {
  justify-self: end;
}

.blog_summary_meta {
  display: grid;
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

.blog_title {
  text-align: center;
  margin: 0;
  padding: 0.3em;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px dotted var(--faded-border);
}

.blog_heading_image {
  padding: 0.5em;
  padding-bottom: 0.2em;
  width: 100%;
  height: 100%;
}

.blog_body {
  padding: 1em;
  margin: 0;
  border-top: 1px solid var(--faded-border);
  letter-spacing: 0.5px;
  line-height: var(--content-line-height);
}

.blog_body p {
  padding-bottom: 1em;
}

.blog_body a {
  color: var(--body-links);
  text-decoration: none;
}

.blog_body_footer {
  padding: 0.2em 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--block-title);
  border-top: 1px dotted var(--faded-border);
}

.blog_body_footer_left {
  display: flex;
  flex-direction: row;
  gap: 0.1em;
}

.blog_body_footer.index {
  justify-content: space-between;
  grid-column: 1/3;
}

.blog_body_footer_vertical_divider {
  color: var(--faded-border);
}

.blog_body_footer_like {
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--button-background-color);
  padding: 0.1em 0.4em;
  color: black;
}

.new_comment_user {
  text-align: center;
  margin-bottom: 0.5em;
}

.comment_anonymous_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* margin: 1em 0; */
}

.comment_input input {
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(250, 250, 210, 0.548);
}

.comment_email_disclaimer {
  text-align: center;
  font-size: 0.8em;
  margin: 0.5em 0;
}

.g-recaptcha {
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-end;
}

.comment_form_error,
.login_form_error {
  width: 100%;
  text-align: center;
  padding: 5px;
  background: hsl(0, 82%, 82%);
  border: 1px solid hsl(0, 82%, 42%);
  border-radius: 5px;
  margin: 0.5em 0;
}

.login_form_error,
.login_form_captcha {
  grid-column: 1 / 3;
  justify-self: center;
}

.login_form_error {
  width: 80%;
}

.liker {
  text-decoration: none;
  color: black;
}

.like_yes {
  color: red;
}

.blog_user {
  font-weight: bold;
  text-decoration: none;
  color: var(--sidebar-links);
}

.blog_user:hover {
  color: var(--sidebar-links-hover);
}

.blog_date_wrapper {
  padding: 0.5em;
  align-self: flex-end;
  font-size: 0.8em;
}

.blog_date_updated {
  color: var(--faded-text);
}

.blog_date_posted {
  color: var(--faded-text);
}

.blog_description {
  padding: 0.5em;
  line-height: var(--content-line-height);
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}

.blog_buttons {
  text-align: right;
  width: 100%;
}

.edit_post_wrapper {
  padding-top: 1em;
}

.edit_post_user {
  text-align: center;
  font-size: 1.2em;
}

.edit_post_title {
  text-align: center;
  padding: 1em 0;
}

.edit_post_tags,
.new_post_tags {
  /* padding: 0.5em 0; */
  margin-bottom: 1em;
}

.edit_post_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  margin-top: 0.5em;
}

.new_post_wrapper {
  padding-top: 1em;
}

.new_post_user {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.new_post_title {
  text-align: center;
  padding: 1em 0;
}

.new_post_field,
.edit_post_field {
  margin-bottom: 0.5em;
}

.new_post_field_label,
.edit_post_field_label {
  display: block;
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: 1.2em;
}

.new_post_field_field input,
.edit_post_field_field input {
  width: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;
}

/* -------------------------------------------------------------------------- */
/*                  format the add/edit post image meta data                  */
/* -------------------------------------------------------------------------- */
.image_meta_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  font-size: 0.8em;
  width: 95%;
  background-color: var(--block-title);
  border: 1px solid var(--faded-border);
  padding: 0.5em;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.image_meta_header {
  font-size: 1.2em;
  grid-column: 1 / 3;
  justify-self: center;
}

.image_meta_field {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                         Display image meta in post                         */
/* -------------------------------------------------------------------------- */

.image_meta_block {
  font-size: 0.8em;
  text-align: center;
}

/* -------------------------------------------------------------------------- */

.post_attribute_field input {
  margin-top: 0.5em;
  width: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;
}

.new_post_tags {
  padding: 0.5em 0;
}

.new_post_buttons,
.new_comment_buttons,
.edit_comment_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.new_comment_buttons,
.edit_comment_buttons {
  margin-top: 0.5em;
}

.post_image_upload_wrapper {
  margin-top: 0.5em;
  display: flex;
  row-gap: 0.5em;
  flex-direction: row;
  align-items: center;
}

.post_image_upload_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  gap: 0.5em;
  padding: 0 1em;
}

.post_image_upload_preview {
  width: 30%;
}

.post_image_upload_checkbox > * {
  display: inline;
  width: unset !important;
}

.post_image_upload_selector > * {
  display: inline;
  /* width: unset !important; */
}

.blog_comment_count {
  flex-direction: row;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin: 1em auto;
}

.blog_comment_userlink {
  text-decoration: none;
  color: var(--sidebar-links);
}

.blog_comment_userlink:hover {
  color: var(--sidebar-links-hover);
}

.blog_comment_footer_add {
  width: 95%;
  text-align: right;
  margin: 1em auto;
}

.blog_comment_badge {
  align-self: center;
  font-size: 0.8em;
  flex-shrink: 0;
}

.blog_post_views {
  align-self: center;
  font-size: 0.8em;
  color: var(--faded-text);
  flex-shrink: 0;
}

.blog_comment_badge a {
  text-decoration: none;
  color: var(--faded-text);
}

.blog_comment_wrapper {
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 1em auto;
  width: 95%;
  overflow: hidden;
}

.blog_comment_header {
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px dotted var(--faded-border);
}
.blog_comment_footer {
  padding: 0.2em 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--block-title);
  border-top: 1px dotted var(--faded-border);
}

.blog_comment_date {
  color: var(--light-blue);
  font-size: 0.9em;
  align-self: center;
}

.blog_comment_body {
  padding: 0.5em;
  background-color: var(--block-background);
  letter-spacing: 0.5px;
  line-height: var(--content-line-height);
}

.blog_comment_edit {
  text-decoration: none;
}
.blog_comment_delete {
  text-decoration: none;
}

.delete_content_footer {
  text-align: center;
}

.delete_content_body {
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30vh;
}

.delete_content_title {
  text-align: center;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px dotted var(--faded-border);
}

.delete_content_content {
  padding: 0 0.5em;
}

.delete_content_sure {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 1em;
  text-align: center;
}

.btn,
.next,
.prev {
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--button-background-color);
  padding: 0.1em 0.4em;
  cursor: pointer;
  color: black;
}

.btn_danger {
  color: red;
  background-color: hsla(0, 100%, 50%, 0.1);
  border: 1px solid hsla(0, 100%, 50%, 0.3);
}

.btn_success {
  color: green;
  background-color: hsla(118, 100%, 50%, 0.2);
  border: 1px solid green;
}

.btn_alt {
  color: blue;
  background-color: rgba(0, 0, 255, 0.1);
  border: 1px solid blue;
}

.btn-disabled,
.disabled {
  background-color: var(--btn-background-disabled);
  color: var(--faded-text);
  cursor: not-allowed;
}

.right_pad {
  padding-right: 0.5em;
}

/* ---------------- adjust/reset all margins on headings etc ---------------- */
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.3em 0;
}

/* pre {
  padding: 1em 1em !important;
  margin: 0;
} */

code {
  font-family: "JetBrains Mono", monospace !important;
}

/* set a class we should use for any uploaded images */
.blog_post_image {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
}

.pagination {
  padding: 1em 0;
  text-align: center;
}

.pagination .current,
.pagination .page {
  padding: 0 1em;
}

.pagination .current {
  color: var(--very-faded-text) !important;
}

.pagination .page {
  text-decoration: none;
  color: var(--sidebar-links);
}

.detail-back {
  padding: 1em;
  margin-bottom: 1em;
}

.logout_container {
  text-align: center;
}

.logout_header {
  padding: 2em;
}

.form_container {
  text-align: center;
}

.form_form {
  display: inline-grid;
  grid-template-columns: auto auto;
  row-gap: 0.5em;
  width: 90%;
  margin: 0 auto;
}

.form_header {
  padding: 1em;
  font-size: 2em;
}

.form_field {
  padding: 0.5em;
}

.form_field_label {
  align-self: center;
  justify-self: right;
  padding: 0.5em;
}

.form_field_field {
  justify-self: start;
}

.form_hr {
  grid-column: 1/3;
  width: 100%;
  border-width: 0;
  height: 1px;
  color: var(--faded-border);
  background-color: var(--faded-border);
}

.form_button {
  grid-column: 1/3;
  padding: 0.5em;
}

input#id_username,
input#id_password,
input#id_email,
input#id_password1,
input#id_password2 {
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(250, 250, 210, 0.548);
}

/* -------------------------------------------------------------------------- */
/*                           Style the Profile pages                          */
/* -------------------------------------------------------------------------- */
.profile_page_wrapper {
  padding: 0 1em;
}

.profile_meta_wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  justify-items: left;
  padding: 1em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 1em 0;
  background-color: var(--block-background);
  box-shadow: 1px 1px 1px 0px hsla(0, 0%, 55%, 0.678);
  overflow: hidden;
  position: relative;
}

.profile_edit_button {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: var(--sidebar-links);
}

.profile_meta_left {
  margin: auto 0;
  overflow: hidden;
}

.profile_avatar {
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.profile_meta_right {
  padding-left: 2em;
}

.profile_meta_right > div {
  line-height: 1.5em;
}

.profile_meta_bio {
  grid-column: 1 / 3;
  justify-self: center;

  position: relative;
  margin: 0.5em;
  padding: 0.5em 1.5em 0 1.5em;
}

.profile_meta_bio::after,
.profile_meta_bio::before {
  font-family: Georgia, serif;
  position: absolute;
  line-height: 1;
  font-size: 3em;
}

.profile_meta_bio:before {
  top: 0;
  left: 0;
  content: "\201C";
  transform: rotate(10deg);
}

.profile_meta_bio:after {
  /* float: right; */
  right: 0;
  bottom: -0.6em;
  content: "\201D";
  transform: rotate(10deg);
}

.profile_location_text {
  font-weight: bold;
}

.profile_social_buttons {
  margin: 0.5em 0;
  padding: 5px;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  width: max-content;
  background-color: var(--block-title);
}

.profile_social_link {
  font-size: 24px;
  padding: 6px;
}

.profile_social_link:hover svg {
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}
.profile_post_wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1em;
}

.profile_post_summary {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--faded-border);
  border-radius: 10px;
  height: 100%;
  background-color: var(--block-background);
}

.profile_post_summary_draft {
  border: 2px dashed red;
}

.profile_post_section_title {
  justify-self: center;
  font-size: 2em;
  grid-column: 1/3;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.profile_post_title {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-align: center;
}

.profile_date_wrapper {
  font-size: 0.9em;
}

.profile_post_desc {
  padding-top: 0.7em;
}

.profile_comments_section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  margin: 0 auto;
  width: 95%;
}

.profile_section_title {
  justify-self: center;
  font-size: 2em;
  font-weight: bold;
}

.profile_comments_wrapper {
  display: grid;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--block-background);

  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.profile_comments_date {
  font-style: italic;
  padding: 0.3em;
  font-size: 0.8em;
  justify-self: right;
}

.profile_comments_user {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 19%, 30%);
}

.profile_comments_title {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 26%, 40%);
}

.profile_comments_header {
  border-bottom: 1px solid var(--faded-border);
  padding: 0.5em;
  background-color: var(--block-title);
}

.profile_comments_body {
  padding: 0.5em;
}

/* -------------------------------------------------------------------------- */
/*                              edit profile page                             */
/* -------------------------------------------------------------------------- */
.profile_edit_wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--block-background);
  box-shadow: 1px 1px 1px 0px hsla(0, 0%, 55%, 0.678);
}

.profile_edit_form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.profile_edit_form > div > input,
.profile_edit_form > div > textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(250, 250, 210, 0.548);
  resize: none;
}

.profile_edit_field {
  width: 100%;
}

.profile_edit_label {
  justify-self: right;
  align-self: center;
}

#edit_label_bio.profile_edit_label {
  justify-self: right;
  align-self: start;
}

.profile_edit_label::after {
  content: ":";
}

.profile_edit_username {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.profile_edit_buttons {
  grid-column: 1/3;
  justify-self: end;
}

/* -------------------------------------------------------------------------- */
/*                            Style the TAGS Pages                            */
/* -------------------------------------------------------------------------- */
.blog_tags {
  margin-top: 0.5em;
}

.tags_header,
.search_header,
.series_header {
  display: flex;
  margin-bottom: 0.5em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.tags_no_tags_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0;
}

.tags_home_btn,
.detail_home_btn,
.search_home_btn {
  margin-top: 1.5em;
  text-align: center;
}

.tag_list_container {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.tag_list_tag {
  font-size: 1.5em;
  display: block;
  width: 100%;
  text-align: center;
}

.tag_list_post_list {
  margin-left: 1em;
  margin-bottom: 0.5em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  height: calc(100% - 2em);
  background-color: var(--block-background);
}

.tag_list_post,
.notag_list_post {
  padding: 0 0.5em;
  padding-top: 0.5em;
  display: block;
  color: var(--sidebar-links);
  text-decoration: none;
}

.tag_list_post_draft {
  color: hsl(0, 100%, 40%);
}

.tag_list_post:hover {
  color: var(--sidebar-links-hover);
}

.tag_list_post_draft:hover {
  color: hsl(0, 100%, 60%);
}

.tag_list_more {
  display: block;
  text-align: right;
  padding: 0 0.5em;
  display: block;
  color: var(--sidebar-links);
  text-decoration: none;
  font-size: 0.9em;
}

/* -------------------------------------------------------------------------- */
/*                          Style the 'Series' pages                          */
/* -------------------------------------------------------------------------- */
.series_list_container {
  margin: 1em 0;
}

.series_list_series {
  padding: 0.5em 0;
  font-size: 1.5em;
  color: var(--sidebar-links);
}

.series_list_series_link {
  text-decoration: none;
  color: inherit;
}

.series_description {
  padding: 0 0.5em;
}

.series_author {
  font-size: 0.8em;
  text-align: right;
}

/* -------------------------------------------------------------------------- */
/*                    Navigation menu for responsive sizes                    */
/* -------------------------------------------------------------------------- */
.nav_toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav {
  /* put this in to avoid a flash of navbar or reload */
  display: none;
}

.nav_toggle_label {
  position: absolute;
  top: 38px;
  left: 0;
  margin-left: 1em;
  align-items: center;
  height: 1em;
  display: none;
}

.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav_toggle_label span::before,
.nav_toggle_label span::after {
  content: "";
  position: absolute;
}

.nav_toggle_label span::before {
  bottom: 7px;
}

.nav_toggle_label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 45px;
  left: 10px;
  background: var(--block-title);
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 0.2em;
  /* width: calc(100% - 0.4em); */

  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  padding: 0.5em;
  opacity: 0.95;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.7em;
  margin-left: 1em;
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav_toggle:checked ~ nav {
  transform: scale(1, 1);
  display: block;
  z-index: 5;
}

.nav_toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.custom_error_code {
  /* width: 70%; */
  text-align: center;
  font-family: "Special Elite", cursive;
}

.custom_error_text {
  margin: 1px auto;
  text-align: center;
  font-size: 4em;
  width: 70%;
  font-family: "Special Elite", cursive;
}

/* -------------------------------------------------------------------------- */
/*                             Responsive Queries                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------- MAX 900px ------------------------------- */
@media screen and (max-width: 900px) {
  .content_container {
    display: block;
  }

  .embedded_search {
    display: block;
    padding: 0.5em 0;
  }

  .embedded_search .sidebar_search_form {
    padding: 0;
    padding-bottom: 10px;
  }

  .sidebar_container {
    display: none;
  }

  .only_no_sb {
    display: block;
  }

  .site_header {
    text-align: center;
  }

  .site_header_heading {
    text-align: center;
  }

  .nav_toggle_label {
    display: flex;
  }

  .no_posts_yet {
    font-size: 2em;
    width: 70%;
    height: 50vh;
  }
}

/* -------------------------------- max 550px ------------------------------- */
@media screen and (max-width: 550px) {
  .site_container {
    width: 100%;
    margin: 0.5em 0;
    border: none;
    border-radius: 0;
  }

  .main_container {
    margin-top: 0;
  }

  .pinned_post_wrapper {
    margin-bottom: 0;
  }

  .pinned_icon svg {
    filter: drop-shadow(1px 1px 2px rgb(251, 251, 251))
      drop-shadow(-1px -1px 2px rgb(251, 251, 251));
  }

  .site_footer {
    justify-content: center;
  }

  .blog_summary {
    grid-template-columns: none;
    gap: 0;
  }

  .blog_summary_meta {
    margin-bottom: 1em;
    padding-top: 0;
  }

  .blog_summary_title {
    text-align: center;
  }

  .blog_date_wrapper {
    align-self: center;
  }

  .blog_body_footer.index {
    grid-column: auto;
  }

  .blog_tag_list {
    display: none;
  }

  .blog_read_more {
    justify-self: center;
  }

  .blog_comment_count {
    flex-direction: column;
    row-gap: 1em;
  }

  .blog_comment_date {
    align-self: flex-end;
  }

  .blog_comment_header {
    /* flex-direction: column; */
    /* row-gap: 0.3em; */
  }

  .blog_comment_footer_add {
    text-align: center;
  }

  .tags_header,
  .search_header {
    text-align: center;
  }

  .tag_list_tag {
    text-align: left;
  }

  .tag_list_tag a {
    margin-left: 0;
  }

  .tag_list_post_list {
    margin-left: 0;
  }

  .profile_meta_wrapper {
    grid-template-columns: none;
    grid-template-rows: none;
    margin-top: 0;
  }

  .profile_meta_left {
    margin: 0 auto;
  }

  .profile_meta_right {
    padding-left: 0;
  }

  .profile_meta_bio {
    grid-column: 1;
    text-align: center;
  }

  .profile_post_wrapper {
    grid-template-columns: auto;
  }

  .profile_username,
  .profile_joined_date,
  .profile_location {
    margin: 0 auto;
    width: max-content;
  }

  .profile_post_count {
    text-align: center;
  }

  .profile_social_buttons {
    margin: 0 auto;
    margin-top: 1em;
  }

  .profile_post_section_title {
    grid-column: auto;
    text-align: center;
  }

  .profile_section_title {
    text-align: center;
  }

  .hide_on_xs {
    display: none;
  }

  .custom_error_text {
    font-size: 2em;
  }

  .tags_header,
  .tags_no_tags_text {
    display: block;
    text-align: center;
  }

  .comment_anonymous_details {
    flex-direction: column;
    gap: 0.5em;
  }

  .g-recaptcha {
    justify-content: space-around;
  }

  .new_post_buttons,
  .new_comment_buttons,
  .edit_post_buttons,
  .edit_comment_buttons {
    justify-content: center;
    margin-top: 0.5em;
  }

  .profile_edit_wrapper {
    padding: 1em;
    border: 1px solid var(--faded-border);
    border-radius: 5px;
    background-color: var(--block-background);
    box-shadow: 1px 1px 1px 0px hsla(0, 0%, 55%, 0.678);
  }

  .profile_edit_form {
    display: block;
  }

  .profile_edit_label {
    margin: 1em 0 0.2em 0;
  }

  .profile_edit_buttons {
    margin-top: 1em;
    text-align: right;
  }

  .post_image_upload_wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .post_image_upload_preview {
    width: 80%;
  }

  .post_image_upload_inner {
    padding: 0;
  }

  .post_image_upload_selector {
    width: 100%;
  }

  .login_form_error {
    width: 95%;
    justify-self: center;
    margin: 0;
  }

  .image_meta_container {
    grid-template-columns: 1fr;
  }

  .image_meta_header {
    grid-column: auto;
  }
}
