* {
  box-sizing: border-box;
}

html {
  --block-background: hsl(30, 10%, 97%);
  --block-title: hsl(30, 10%, 94%);
  --button-color: hsl(30, 20%, 90%);
}

body {
  font-family: "Roboto", sans-serif;
  color: #1b2522;
  margin: 0;
}

.site_container {
  width: 90%;
  margin: 1em auto;
  padding-bottom: 1em;
  border: 1px solid rgba(211, 211, 211, 0.596);
  border-radius: 5px;
  min-height: 95vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.blog_article {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 1em;
  box-shadow: 0px 0px 3px 2px rgba(172, 201, 233, 0.5);
  overflow: hidden;
  background-color: var(--block-background);
}

.blog_title {
  text-align: center;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px lightgray dotted;
}

.blog_body {
  padding: 1em;
  margin: 0;
  border-top: 1px solid lightgray;
}

.blog_body_footer {
  padding: 0.2em 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  /* background-color: rgba(193, 222, 231, 0.322); */
  background-color: var(--block-title);

  border-top: 1px lightgray dotted;
}

.blog_user {
  font-weight: bold;
  text-decoration: none;
}

.blog_date_wrapper {
  padding: 0.5em;
  align-self: flex-end;
  font-size: 0.8em;
}

.blog_date_updated {
  color: hsla(0, 0%, 20%, 0.6);
}

.blog_date_posted {
  color: hsla(0, 0%, 20%, 0.6);
}

.blog_description {
  padding: 1em 0;
  font-style: italic;
}

.blog_comment_count {
  /* padding: 0 1em; */
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin: 1em auto;
}

.blog_comment_footer_add {
  width: 95%;
  text-align: right;
  margin: 1em auto;
}

.blog_comment_count_index {
  width: inherit;
  margin: 1em 0;
}

.blog_comment_wrapper {
  border: 1px lightgray solid;
  border-radius: 5px;
  margin: 1em auto;
  width: 95%;
  overflow: hidden;
}

.blog_comment_header {
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* background-color: rgba(193, 222, 231, 0.322); */
  background-color: var(--block-title);
  border-bottom: 1px lightgray dotted;
}
.blog_comment_footer {
  padding: 0.2em 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  /* background-color: rgba(193, 222, 231, 0.322); */
  background-color: var(--block-title);
  border-top: 1px lightgray dotted;
}

.blog_comment_date {
  color: rgba(0, 0, 255, 0.507);
  font-size: 0.9em;
  align-self: center;
}

.blog_comment_body {
  /* padding: 0 0.5em 0.5em 0.5em; */
  padding: 0.5em;
  background-color: var(--block-background);
}

.blog_comment_edit {
  text-decoration: none;
}
.blog_comment_delete {
  text-decoration: none;
}

.delete_content_footer {
  text-align: center;
}

.delete_content_body {
  /* padding: 0 0.5em 0.5em 0.5em; */
  border: 1px lightgray solid;
  border-radius: 5px;
  margin: 1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30vh;
}

.delete_content_title {
  text-align: center;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  background-color: rgba(193, 222, 231, 0.322);
  border-bottom: 1px lightgray dotted;
}

.delete_content_content {
  padding: 0 0.5em;
}

.delete_content_sure {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 1em;
  text-align: center;
}

.btn {
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: var(--button-color);
  padding: 0.1em 0.4em;
  cursor: pointer;
  color: black;
}

.btn_danger {
  color: red;
  background-color: hsla(0, 100%, 50%, 0.1);
  border: 1px solid hsla(0, 100%, 50%, 0.3);
}

.btn_success {
  color: green;
  background-color: hsla(118, 100%, 50%, 0.2);
  border: 1px solid green;
}

.right_pad {
  padding-right: 0.5em;
}

/* adjust all margins on headings etc */
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.3em 0;
}

pre {
  overflow-x: auto;
  padding: 1em 1em;
  margin: 0;
}

code {
  font-family: "JetBrains Mono", monospace;
}

.highlight {
  padding-right: 1em;
  /* border: 1px solid rgba(110, 100, 100, 0.5); */
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.2);
}

[data-linenos]:before {
  content: attr(data-linenos);
}

.pagination {
  padding: 1em 0;
}

.detail-back {
  padding: 1em;
  margin-bottom: 1em;
}

.profile_meta_wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  justify-items: left;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 1em 0;
  background-color: hsl(30, 10%, 97%);
  box-shadow: 0px 0px 3px 1px rgba(80, 93, 107, 0.5);
  overflow: hidden;
}

.profile_meta_left {
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
}

.profile_meta_right {
  align-self: center;
  padding-left: 2em;
}

.profile_post_wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2em;
}

.profile_post_summary {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  border: 1px black solid;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 0px 1px 1px rgba(80, 93, 107, 0.5);
  /* background-color: hsla(198, 100%, 97%, 0.781); */
  background-color: hsl(30, 10%, 97%);
}

.profile_post_section_title {
  justify-self: center;
  font-size: 2em;
  grid-column: 1/3;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.profile_post_summary:hover {
  box-shadow: 0px 0px 2px 2px rgba(80, 93, 107, 0.5);
  /* background-color: hsla(198, 100%, 95%, 0.781); */
}

.profile_avatar {
  width: 150px;
  height: 150px;
}

.profile_post_title {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-align: center;
}

.profile_date_wrapper {
  font-size: 0.9em;
}

.profile_post_desc {
  padding-top: 0.7em;
}

.profile_comments_section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  margin: 0 auto;
  width: 95%;
}

.profile_section_title {
  justify-self: center;
  font-size: 2em;
  font-weight: bold;
}

.profile_comments_wrapper {
  display: grid;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: hsl(30, 10%, 97%);

  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.profile_comments_date {
  font-style: italic;
  padding: 0.3em;
  font-size: 0.8em;
  justify-self: right;
}

.profile_comments_user {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 19%, 30%);
}

.profile_comments_title {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 26%, 40%);
}

.profile_comments_header {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  background-color: hsl(30, 10%, 94%);
}

.profile_comments_body {
  padding: 0.5em;
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  padding-bottom: 0.5em;
  margin: 0.5em;
  border-bottom: 1px solid lightgray;
}

.site_header_brand {
  margin: 0;
}

.site_header_brand a {
  display: inline-block;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 1.3em;
  transform-origin: left;
  transform: scale(1.5, 1);
  text-decoration: none;
  color: #1b2522;
}

.site_header_heading {
  font-size: 1.5em;
  font-weight: bold;
}

.site_header_user {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #1b2522;
}

.gravatar {
  height: 2em;
  width: 2em;
}

.logout_container {
  text-align: center;
}

.logout_header {
  padding: 2em;
}

.form_container {
  text-align: center;
}

.form_form {
  display: inline-grid;
  grid-template-columns: auto auto;
  /* width: auto; */
  row-gap: 0.5em;
}

.form_header {
  padding: 1em;
  font-size: 2em;
}

.form_field {
  padding: 0.5em;
}

.form_field_label {
  /* padding-right: 0.5em; */
  align-self: center;
  justify-self: right;
  padding: 0.5em;
}

.form_hr {
  grid-column: 1/3;
  width: 100%;
  color: hsla(0, 0%, 80%, 0.3);
}

.form_button {
  grid-column: 1/3;
  padding: 0.5em;
}

input#id_username,
input#id_password,
input#id_email,
input#id_password1,
input#id_password2 {
  border-radius: 5px;
  padding: 5px;
}

/* input#id_password {
  border-radius: 5px;
  padding: 5px;
} */
