*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  --block-background: hsl(30, 10%, 97%);
  --block-title: hsl(30, 10%, 94%);

  --standard-text: hsl(0, 0%, 25%);

  --faded-border: hsla(0, 0%, 83%, 0.596);
  --faded-text: hsla(0, 0%, 20%, 0.6);
  --very-faded-text: hsla(0, 0%, 38%, 0.4);

  --button-background-color: hsl(30, 20%, 90%);
  --btn-backgroud-disabled: inherit;

  --sidebar-links: hsla(0, 0%, 20%, 0.8);
  --sidebar-links-hover: black;

  --light-blue: rgba(0, 0, 255, 0.507);

  --code-background: rgba(211, 211, 211, 0.2);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--standard-text);
  margin: 0;
}

.noscript_wrapper {
  padding: 1em;
  background-color: hsla(120, 61%, 50%, 0.424);
  text-align: center;
  font-size: 1.2em;
}

.noscript_strong {
  font-weight: bold;
}

.site_container {
  width: 90%;
  margin: 1em auto;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  overflow: hidden;
  max-width: 1200px;
}

.site_header_container {
  display: grid;
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  padding-bottom: 0.5em;
  margin: 0.5em 0;
  margin-bottom: 0;
  border-bottom: 1px solid var(--faded-border);
}

.site_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  margin: 0 0.5em;
  margin-top: 1em;
  border-top: 1px solid var(--faded-border);
}

.site_header_brand {
  margin: 0;
}

.site_header_brand a {
  display: inline-block;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 1.3em;
  transform-origin: left;
  transform: scale(1.5, 1);
  text-decoration: none;
  color: hsl(162, 16%, 13%);
}

.site_header_heading {
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 0.5em;
}

.site_header_user {
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer_citation {
  font-size: 0.9em;
  color: var(--faded-text);
}

.site_footer_engine {
  text-decoration: none;
  color: var(--sidebar-links);
}

.site_footer_engine:hover {
  color: var(--sidebar-links-hover);
}

.site_footer_author {
  text-decoration: none;
  font-style: italic;
  color: var(--sidebar-links);
}

.site_footer_author:hover {
  color: var(--sidebar-links-hover);
}

.content_container {
  display: grid;
  grid-template-columns: auto minmax(250px, 20%);
  column-gap: 1em;
  padding: 0 1em;
}

.sidebar_container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding-top: 1em;
}

.sidebar_article {
  margin: 0;

  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--block-background);
  overflow: hidden;
}

.sidebar_tags_content {
  text-align: center;
}

.sidebar_tag {
  display: inline-block;
  margin: 0.2em 0.2em;
  padding: 0.1em 0.2em;
  border-radius: 5px;
  border: 1px solid var(--faded-border);

  color: var(--sidebar-links);
  background-color: var(--button-background-color);
  text-decoration: none;
  font-size: 0.8em;
}

.sidebar_link {
  display: block;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: var(--sidebar-links);
}

.sidebar_link:hover {
  color: var(--sidebar-links-hover);
}

.sidebar_admin {
  text-align: center;
}

.sidebar_user {
  text-align: center;
}

.sidebar_danger {
  color: red;
}

.sidebar_danger:hover {
  font-weight: bold;
  color: red;
}

.sidebar_separator,
.profile_separator {
  border-width: 0;
  height: 1px;
  color: var(--faded-border);
  background-color: var(--faded-border);
}

.sidebar_search_form {
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
}

.sidebar_search_form input {
  width: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
}

.sidebar_article_header {
  text-align: center;
  padding: 0.2em 0;
  font-size: 1.2em;
  border-bottom: 1px dotted var(--faded-border);
  background-color: var(--block-title);
}

.sidebar_article_header_link {
  text-decoration: none;
  color: var(--sidebar-links);
}

.sidebar_article_header_link:hover {
  color: var(--sidebar-links-hover);
}

.sidebar_article_content {
  padding: 0.5em;
}

.nav a {
  text-decoration: none;
  color: #1b2522;
}

.gravatar {
  height: 2em;
  width: 2em;
}

.main_container {
  overflow: auto;
}

.blog_article {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin-top: 1em;
  overflow: hidden;
  background-color: var(--block-background);
}

.blog_title {
  text-align: center;
  margin: 0;
  padding: 0.3em;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px dotted var(--faded-border);
}

.blog_body {
  padding: 1em;
  margin: 0;
  border-top: 1px solid var(--faded-border);
  letter-spacing: 0.5px;
}

.blog_body_footer {
  padding: 0.2em 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--block-title);
  border-top: 1px dotted var(--faded-border);
}

.blog_body_footer_left {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.blog_body_footer.index {
  justify-content: space-between;
}

.blog_user {
  font-weight: bold;
  text-decoration: none;
  color: var(--sidebar-links);
}

.blog_user:hover {
  color: var(--sidebar-links-hover);
}

.blog_date_wrapper {
  padding: 0.5em;
  align-self: flex-end;
  font-size: 0.8em;
}

.blog_date_updated {
  color: var(--faded-text);
}

.blog_date_posted {
  color: var(--faded-text);
}

.blog_description {
  padding: 1em;
  font-style: italic;
}

.blog_buttons {
  text-align: center;
  padding-bottom: 0.5em;
}

.edit_post_wrapper {
  padding-top: 1em;
}

.edit_post_user {
  text-align: center;
  font-size: 1.2em;
}

.edit_post_title {
  text-align: center;
  padding: 1em 0;
}

.edit_post_tags,
.new_post_tags {
  padding: 0.5em 0;
}

.edit_post_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.new_post_wrapper {
  padding-top: 1em;
}

.new_post_user {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.new_post_title {
  text-align: center;
  padding: 1em 0;
}

.new_post_field,
.edit_post_field {
  margin-bottom: 1em;
}

.new_post_field_label,
.edit_post_field_label {
  display: block;
  margin-bottom: 0.3em;
}

.new_post_field_field input,
.edit_post_field_field input {
  width: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  outline: none;
}

.new_post_tags {
  padding: 0.5em 0;
}

.new_post_buttons {
  display: flex;
  justify-content: flex-end;
}

.blog_comment_count {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin: 1em auto;
}

.blog_comment_userlink {
  text-decoration: none;
  color: var(--sidebar-links);
}

.blog_comment_userlink:hover {
  color: var(--sidebar-links-hover);
}

.blog_comment_footer_add {
  width: 95%;
  text-align: right;
  margin: 1em auto;
}

.blog_comment_badge {
  align-self: center;
  font-size: 0.8em;
}

.blog_comment_badge a {
  text-decoration: none;
  color: var(--faded-text);
}

.blog_comment_wrapper {
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 1em auto;
  width: 95%;
  overflow: hidden;
}

.blog_comment_header {
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px dotted var(--faded-border);
}
.blog_comment_footer {
  padding: 0.2em 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--block-title);
  border-top: 1px dotted var(--faded-border);
}

.blog_comment_date {
  color: var(--light-blue);
  font-size: 0.9em;
  align-self: center;
}

.blog_comment_body {
  padding: 0.5em;
  background-color: var(--block-background);
  letter-spacing: 0.5px;
}

.blog_comment_edit {
  text-decoration: none;
}
.blog_comment_delete {
  text-decoration: none;
}

.delete_content_footer {
  text-align: center;
}

.delete_content_body {
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 1em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30vh;
}

.delete_content_title {
  text-align: center;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  background-color: var(--block-title);
  border-bottom: 1px dotted var(--faded-border);
}

.delete_content_content {
  padding: 0 0.5em;
}

.delete_content_sure {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 1em;
  text-align: center;
}

.btn,
.next,
.prev {
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--button-background-color);
  padding: 0.1em 0.4em;
  cursor: pointer;
  color: black;
}

.btn_danger {
  color: red;
  background-color: hsla(0, 100%, 50%, 0.1);
  border: 1px solid hsla(0, 100%, 50%, 0.3);
}

.btn_success {
  color: green;
  background-color: hsla(118, 100%, 50%, 0.2);
  border: 1px solid green;
}

.btn-disabled,
.disabled {
  background-color: var(--btn-background-disabled);
  color: var(--faded-text);
  cursor: not-allowed;
}

.right_pad {
  padding-right: 0.5em;
}

/* adjust all margins on headings etc */
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.3em 0;
}

pre {
  overflow-x: auto;
  padding: 1em 1em;
  margin: 0;
}

code {
  font-family: "JetBrains Mono", monospace;
}

.highlight {
  padding-right: 1em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--code-background);
}

[data-linenos]:before {
  content: attr(data-linenos);
}

.pagination {
  padding: 1em 0;
  text-align: center;
}

.pagination .current,
.pagination .page {
  padding: 0 1em;
}

.pagination .current {
  color: var(--very-faded-text) !important;
}

.pagination .page {
  text-decoration: none;
  color: var(--sidebar-links);
}

.detail-back {
  padding: 1em;
  margin-bottom: 1em;
}

.logout_container {
  text-align: center;
}

.logout_header {
  padding: 2em;
}

.form_container {
  text-align: center;
}

.form_form {
  display: inline-grid;
  grid-template-columns: auto auto;
  row-gap: 0.5em;
}

.form_header {
  padding: 1em;
  font-size: 2em;
}

.form_field {
  padding: 0.5em;
}

.form_field_label {
  align-self: center;
  justify-self: right;
  padding: 0.5em;
}

.form_hr {
  grid-column: 1/3;
  width: 100%;
  border-width: 0;
  height: 1px;
  color: var(--faded-border);
  background-color: var(--faded-border);
}

.form_button {
  grid-column: 1/3;
  padding: 0.5em;
}

input#id_username,
input#id_password,
input#id_email,
input#id_password1,
input#id_password2 {
  border-radius: 5px;
  padding: 5px;
}

.profile_page_wrapper {
  padding: 0 1em;
}

.profile_meta_wrapper {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 10px;
  justify-items: left;
  padding: 1em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  margin: 1em 0;
  background-color: var(--block-background);
  box-shadow: 1px 1px 1px 0px hsla(0, 0%, 55%, 0.678);
  overflow: hidden;
}

.profile_meta_left {
  margin: auto 0;
  overflow: hidden;
}

.profile_avatar {
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.profile_meta_right {
  padding-left: 2em;
}

.profile_post_count {
  margin: 0.5em 0;
}

.profile_joined_date {
  margin: 0.5em 0;
}

.profile_location_text {
  font-weight: bold;
}

.profile_social_buttons {
  margin: 0.5em 0;
  padding: 5px;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  width: max-content;
  background-color: var(--block-title);
}

.profile_social_link {
  font-size: 24px;
  padding: 6px;
}

.profile_social_link:hover svg {
  /* color: var(--faded-text) !important; */
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}
.profile_post_wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1em;
}

.profile_post_summary {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--faded-border);
  border-radius: 10px;
  height: 100%;
  background-color: var(--block-background);
}

.profile_post_section_title {
  justify-self: center;
  font-size: 2em;
  grid-column: 1/3;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.profile_post_title {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  text-align: center;
}

.profile_date_wrapper {
  font-size: 0.9em;
}

.profile_post_desc {
  padding-top: 0.7em;
}

.profile_comments_section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  margin: 0 auto;
  width: 95%;
}

.profile_section_title {
  justify-self: center;
  font-size: 2em;
  font-weight: bold;
}

.profile_comments_wrapper {
  display: grid;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  background-color: var(--block-background);

  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.profile_comments_date {
  font-style: italic;
  padding: 0.3em;
  font-size: 0.8em;
  justify-self: right;
}

.profile_comments_user {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 19%, 30%);
}

.profile_comments_title {
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 26%, 40%);
}

.profile_comments_header {
  border-bottom: 1px solid var(--faded-border);
  padding: 0.5em;
  background-color: var(--block-title);
}

.profile_comments_body {
  padding: 0.5em;
}

.blog_tags {
  margin-top: 0.5em;
}

.tags_header {
  display: flex;
  margin-top: 0.5em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.tags_no_tags_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0;
}

.tags_home_btn,
.detail_home_btn {
  margin-top: 1.5em;
  text-align: center;
}

.tag_list_container {
  /* margin-top: 1em; */
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.tag_list_tag {
  font-size: 1.5em;
  display: block;
  width: 100%;
  text-align: center;
}

.tag_list_post_list {
  margin-left: 1em;
  margin-bottom: 0.5em;
  border: 1px solid var(--faded-border);
  border-radius: 5px;
  height: calc(100% - 2em);
  background-color: var(--block-background);
}

.tag_list_post,
.notag_list_post {
  padding: 0.5em 0.5em;
  display: block;
  color: var(--sidebar-links);
  text-decoration: none;
}

.tag_list_post:hover {
  color: var(--sidebar-links-hover);
}

@media screen and (max-width: 900px) {
  .content_container {
    display: block;
  }

  .sidebar_container {
    display: none;
  }

  .site_header {
    /* display: block; */
    text-align: center;
    justify-self: center;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .site_header_user {
    display: none;
  }
}
