{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <!-- Include the site header -->
  {% include 'blog/_head.html' %}


  <body>
    <!-- Include situational markup -->
    {% include 'blog/_maintenance_mode.html' %}
    {% include 'blog/_noscript.html' %}
    <div class="site_container">
      <!-- Blog Header Section -->
      {% include 'blog/_header.html' %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <!-- Main section -->
      <main class="content_container">
        <!-- Main content -->
        <section class="main_container">
          {% block body %}
          {% endblock body %}
        </section>
        <!-- Sidebar -->
        <aside class="sidebar_container">
          {% include 'blog/sidebar/sidebar.html' %}
        </aside>
      </main>
      <!-- Footer Section -->
      {% include 'blog/_footer.html' %}
    </div>
    <!-- Include Javascript -->
    {% compress js%}
    <script src="{% static 'blog/site.js' %}"></script>
    {% endcompress %}
    <script src="https://instant.page/5.1.0"
            type="module"
            integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw">
    </script>
  </body>

</html>
