{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;700&family=JetBrains+Mono&family=Architects+Daughter&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'blog/favicon.png' %}"
      type="image/x-icon">
    <script src="{% static 'fontawesomepro/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/default.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/site.css' %}" />
    <title>{{ preferences.SitePreferences.title }}</title>
  </head>

  <body>
    <div class="site_container">
      {% include 'blog/_header.html' %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <div class="content_container">
        <main class="main_container">
          {% block body %}
          {% endblock body %}
        </main>
        <aside class="sidebar_container">
          {% include 'blog/sidebar/sidebar.html' %}
        </aside>
      </div>
      {% include 'blog/_footer.html' %}
    </div>
  </body>

</html>
