{% load gravatar %}

<header class="site_header">
  <h1 class="site_header_brand"><a
      href="{% url 'blog:index' %}">{{ preferences.SitePreferences.sitename }}</a>
  </h1>
  <div class="site_header_heading">{{ preferences.SitePreferences.heading }}
  </div>
  <div class="site_header_user">
    {% if user.is_authenticated %}
    <span class="btn nav logout"><i class="fad fa-sign-out"></i>&nbsp;<a
        href="{% url 'logout' %}">Logout</a></span>
    {% comment %} <span class="btn nav user-display"><a
        href="{% url 'profile' %}">{{ user.username|capfirst }}</a>
    </span> {% endcomment %}
    <a href="{% url 'my-profile' %}"
      alt="{{ user.username|capfirst }}'s Profile"
      class="nav user_gravatar">{% gravatar user.email %}
    </a>
    {% else %}
    <span class="btn nav no-user-display"><a href="{% url 'login' %}"><i
          class="fad fa-sign-in"></i>&nbsp;Login</a></span>
    {% endif %}
  </div>
</header>
