{% load hitcount_tags %}
{% load static  %}

{% if blog.draft and request.user == blog.user or not blog.draft %}
<article class="blog_summary {% if blog.draft %}blog_summary_draft{% endif %}">
  <a href="{% url 'blog:detail' blog.slug %}">
    <div class="blog_summary_image_wrapper">
      {% if blog.image %}
      <img class="blog_summary_image"
           src="{{ blog.image.url }}"
           alt="{{ blog.title|capfirst}} ">
      {% else %}
      <img class="blog_summary_image"
           src={% static "blog/default_placeholder.png" %}
           alt="{{ blog.title|capfirst}} ">
      {% endif %}
    </div>
  </a>
  <div class="blog_summary_meta">
    <h2 class="blog_summary_title">{{ blog.title|capfirst }}</h2>
    <div class="blog_summary_desc">{{ blog.desc }}</div>
    <div class="blog_read_more">
      <a class="btn"
         href="{% url 'blog:detail' blog.slug %}">Read
        More ...</a>
    </div>
  </div>
  <div class="blog_body_footer index">
    <div class="blog_body_footer_left">
      <div class="blog_comment_badge"
           title="Go to the Comments"><span>
          {% with blog.no_of_comments as total_comments %}
          <a href="{% url 'blog:detail' blog.slug %}#comments">{{total_comments}}&nbsp;<span
                  class="fal fa-comment"></span></a>
          {% endwith %}
        </span>
      </div>
      <span class="blog_body_footer_vertical_divider">|</span>
      <div class="blog_post_views">
        {% get_hit_count for blog as hits %}
        {{ hits }}
        &nbsp;view{{ hits|pluralize}}
      </div>
      <div class="blog_tag_list">
        {% with blog.tag_set.all as tag_list %}
        {% if tag_list %}
        <span class="blog_body_footer_vertical_divider">|</span>
        {% endif %}
        {% for tag in tag_list %}
        <a href="{% url 'blog:tag_detail' tag.slug %}"
           class="sidebar_tag">{{tag.tag_name}}</a>
        {% endfor %}
        {% endwith %}
      </div>
    </div>
    <div class="blog_date_wrapper"><span class="blog_date_posted"><span
              class="hide_on_xs">by</span> <a class="blog_user"
           href="{% url 'user-profile' blog.user.id %}">{{blog.user}}</a> on
        {{ blog.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
      {% if blog.created_at|date:"SHORT_DATETIME_FORMAT" != blog.updated_at|date:"SHORT_DATETIME_FORMAT" %}
      <span class="blog_date_updated hide_on_xs">(Edited)</span>
      {% endif %}
    </div>
  </div>
</article>
{% endif %}
