<article class="blog_summary">
  <div class="blog_summary_image_wrapper">
    {% if blog.image %}
    <img class="blog_summary_image" src="{{ blog.image.url }}"
      alt="{{ blog.title|capfirst}} ">
    {% else %}
    <img class="blog_summary_image" src="/media/default_placeholder.png"
      alt="{{ blog.title|capfirst}} ">
    {% endif %}
  </div>
  <div class="blog_summary_meta">
    <h2 class="blog_summary_title">{{ blog.title|capfirst }}</h2>
    <div class="blog_summary_desc">{{ blog.desc }}</div>
    <div class="blog_read_more">
      <a class="btn" href="{% url 'blog:detail' blog.slug %}">Read
        More ...</a>
    </div>
  </div>
  <div class="blog_body_footer index">
    <div class="blog_body_footer_left">
      <div class="blog_comment_badge" title="Go to the Comments"><span>
          {% with blog.no_of_comments as total_comments %}
          <a href="{% url 'blog:detail' blog.slug %}#comments">{{total_comments}}&nbsp;<i
              class="fal fa-comment"></i></a>
          {% endwith %}
        </span>
      </div>
      <div class="blog_tag_list">
        {% for tag in blog.tag_set.all %}
        <a href="{% url 'blog:tag_detail' tag.slug %}"
          class="sidebar_tag">{{tag.tag_name}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="blog_date_wrapper"><span class="blog_date_posted">Posted by <a
          class="blog_user"
          href="{% url 'user-profile' blog.user.id %}">{{blog.user}}</a> on
        {{ blog.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
      {% if blog.created_at|date:"SHORT_DATETIME_FORMAT" != blog.updated_at|date:"SHORT_DATETIME_FORMAT" %}
      <span class="blog_date_updated">(Edited)</span>
      {% endif %}
    </div>
  </div>
</article>
