{% extends 'blog/_base.html' %}
{% load markdown_extras %}

{% block body %}
<!-- Display the Blog Post, wrapped in an article tag -->
<article class="blog_article">
  <h2 class="blog_title">{{ blog.title }}</h2>
  <div class="blog_date_wrapper"><span class="blog_date_posted">Posted
      {{ blog.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
    {% if blog.created_at|date:"SHORT_DATETIME_FORMAT" != blog.updated_at|date:"SHORT_DATETIME_FORMAT" %}
    <span class="blog_date_updated">(Edited
      {{ blog.updated_at|date:"SHORT_DATETIME_FORMAT" }})</span>
    {% endif %}
  </div>
  <div class="blog_body">
    {{ blog.body | markdown | safe }}
  </div>
  <div class="blog_body_footer">
    <span class="blog_body_footer_like"><a class="btn" href=""><i
          class="fad fa-thumbs-up"></i>&nbsp;Like</a></span>
    {% if blog.user.username == user.username or user.is_superuser %}
    <span class="blog_body_footer_edit"><a class="btn"
        href="{% url 'blog:edit_post' blog.slug %}"><i
          class="fad fa-edit"></i>&nbsp;Edit</a></span>
    <span class="blog_body_footer_delete"><a class="btn btn_danger"
        href="{% url 'blog:delete_post' blog.slug %}"><i
          class="fad fa-trash-alt"></i>&nbsp;Delete</a></span>
    {% endif %}
  </div>
</article>

<!-- This section displays the comments (if any) -->
<section class="blog_comments">
  {% if not blog.comments.all %}
  <div class="blog_comment_count">
    <span>There are <b>NO</b> comments for this post so far.</span>
    <a class='btn' href="{% url 'blog:add_comment' blog.slug %}"><i
        class="fad fa-comment-lines"></i>&nbsp;Add a
      comment!</a>
  </div>
  {% else %}
  {% with blog.no_of_comments as total_comments %}
  <div class="blog_comment_count"><span>
      There {{total_comments|pluralize:"is,are"}}
      <b>{{total_comments}}</b> comment{{total_comments|pluralize}} on this
      post
    </span><a class='btn' href="{% url 'blog:add_comment' blog.slug %}"><i
        class="fad fa-comment-lines"></i>&nbsp;Add
      comment</a>
  </div>
  {% endwith %}
  {% for comment in blog.comments.all %}
  <div class="blog_comment_wrapper">
    <div class="blog_comment_header">
      <div class="blog_comment_author">
        {% if comment.created_by_user %}
        <a class="blog_comment_userlink"
          href="{% url 'user-profile' comment.created_by_user.id %}">{{comment.get_commenter}}</a>
        {% else %}
        {{comment.get_commenter}}
        {% endif %}
      </div>
      <div class="blog_comment_date">Commented {{comment.created_at}}</div>
    </div>
    <div class="blog_comment_body">
      {{comment.body|markdown|safe}}
    </div>
    {% if comment.get_commenter == user.username or user.is_superuser %}
    <div class="blog_comment_footer">
      <a class="btn blog_comment_edit"
        href="{% url 'blog:edit_comment' comment.id %}"><i
          class="fad fa-edit"></i>&nbsp;Edit</a>
      <a class="btn btn_danger blog_comment_delete"
        href="{% url 'blog:delete_comment' comment.id %}"><i
          class="fad fa-trash-alt"></i>&nbsp;Delete</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <a href="{% url 'blog:add_comment' blog.slug %}">Add comment!</a>
  {% endif %}
</section>
<!-- End of comment display -->

<div><a class="btn" href="{% url 'blog:index' %}"><i
      class="fad fa-home"></i>&nbsp;Back to Index</a>
</div>
{% endblock body %}
