{% extends 'blog/_base.html' %}

{% block body %}
<div class="new_post_wrapper">
  <div class="new_post_user">You are Logged in as <b>{{ user.username }}</b>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
    <div class="new_post_field">
      <span class="new_post_field_label">{{ field.label_tag|capfirst }}</span>
      <span class="new_post_field_field">{{ field }}</span>
    </div>
    {% endfor %}
    <div class="new_post_tags">
      Existing Tags :&nbsp;
      {% for tag in tags %}
      <span class="sidebar_tag">{{ tag.tag_name}}</span>
      {% endfor %}
    </div>
    <div class="new_post_buttons">
      <button class="btn btn_success" type="submit"><i
          class="fad fa-save"></i>&nbsp;Publish</button>
      <button class="btn btn_success" type="submit" name="draft"
        value="Draft"><i class="fad fa-save"></i>&nbsp;Save as DRAFT</button>
      <a class="btn" href="{% url 'blog:index' %}"><i
          class="fad fa-ban"></i>&nbsp;Cancel</a>
    </div>
  </form>
</div>
{% endblock body %}
