{% extends 'blog/_base.html' %}

{% block body %}

{% if user.is_authenticated %}
<div>You are Logged in as <b>{{ user.username }}</b></div>
{% else %}
<div>You are not logged in.</div>
{% endif %}

<div>Editing Post : <i>"{{ blog.title }}"</i></div>
<form method="post">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <button class="btn btn_success" type="submit"><i
      class="fad fa-save"></i>&nbsp;Save</button>

  <a class="btn" href="{{ view.get_success_url }}"><i
      class="fad fa-ban"></i>&nbsp;Cancel</a>
</form>
{% endblock body %}
