{% extends 'blog/_base.html' %}
{% load markdown_extras %}

{% block body %}

<form method="post">{% csrf_token %}
  <div class="delete_content_sure">Are you sure you want to delete this post?
  </div>

  <div class="delete_content_body">
    <h2 class="delete_content_title">{{ object.title }}</h2>
    <div class="delete_content_content">
      {{object.body|markdown|safe}}</div>
  </div>
  <p>You will also delete {{ object.comments.count}}
    comment{{ object.comments.count|pluralize}} associated with
    this post.</p>
  <div class="delete_content_footer">
    <p>This operation CANNOT BE UNDONE!</p>
    <button class="btn btn_danger" type="submit"><i
        class="fad fa-trash-alt"></i>&nbsp;Confirm</button>
    <a class="btn" href="{% url 'blog:detail' object.slug %}"><i
        class="fad fa-ban"></i>&nbsp;Cancel</a>
    <a class="btn" href="{% url 'blog:edit_post' object.slug %}"><i
        class="fad fa-edit"></i>&nbsp;Edit instead</a>
  </div>
</form>

{% endblock body %}
