{% extends 'blog/_base.html' %}

{% block body %}
{% load blog_extras %}
{% sidebar as sb %}
<div class="edit_post_wrapper">
  <div class="edit_post_user">You are Logged in as <b>{{ user.username }}</b>
  </div>
  <div class="edit_post_title">Editing Post : <i>"{{ blog.title }}"</i></div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
    {% comment %} first loop on form fields {% endcomment %}
    {% if not "image_attrib_" in field.label_tag %}
    <div class="edit_post_field">
      <span class="edit_post_field_label">{{ field.label_tag|capfirst }}</span>
      <span class="edit_post_field_field">{{ field }}</span>
    </div>
    {% if "Tags" in field.label_tag %}
    <div class="edit_post_tags">
      Existing Tags :&nbsp;
      {% if sb.tags %}
      {% for tag in sb.tags %}
      <span class="sidebar_tag">{{ tag.tag_name}}</span>
      {% endfor %}
      {% else %}
      No Tags Defined yet
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% comment %} second loop on form fields, to get the image attrib fields
    only {% endcomment %}
    <div class="image_meta_container">
      <div class="image_meta_header">
        Image Attribution (Optional)
      </div>
      {% for field in form %}
      {% if "image_attrib_" in field.label_tag %}
      <div class="image_meta_field">
        <span class="post_attribute_label">{{ field.label_tag|capfirst }}</span>
        <span class="post_attribute_field">{{ field }}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="edit_post_buttons">
      {% if blog.draft %}
      <button class="btn btn_success" type="submit" name="publish"
        value="Publish"><i
          class="fad fa-comment-alt-check"></i>&nbsp;Publish!</button>
      <button class="btn btn_alt" type="submit"><i
          class="fad fa-save"></i>&nbsp;Save as Draft</button>
      {% else %}
      <button class="btn btn_success" type="submit"><i
          class="fad fa-save"></i>&nbsp;Save</button>
      {% endif %}
      <a class="btn" href="{{ view.get_success_url }}"><i
          class="fad fa-ban"></i>&nbsp;Cancel</a>
    </div>
  </form>
</div>
{% endblock body %}
