{% extends 'blog/_base.html' %}

{% block body %}

{% if user.is_authenticated %}
<div>You are Logged in as <strong>{{ user.username }}</strong>
</div>
{% else %}
<div>You are not logged in.</div>
{% endif %}

<div>Commenting on Post : <em>"{{ comment.related_post.title }}"</em></div>
<form method="post">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <div class="edit_comment_buttons">
    <button class="btn btn_success"
            type="submit">
      <span class="fad fa-save"></span>
      &nbsp;Publish
    </button>
    <a class="btn"
       href="{{ view.get_success_url }}">
      <span class="fad fa-ban"></span>
      &nbsp;Cancel
    </a>
  </div>
</form>
{% endblock body %}
