{% extends 'blog/_base.html' %}

{% block body %}

<form method="post">{% csrf_token %}
  <div class="delete_content_sure">Are you sure you want to delete your comment
    on this post?</div>
  {% comment %} <div class="title">{{ object.related_post.title }}?</div>
  {% endcomment %}

  <div class="delete_content_body">
    <h2 class="delete_content_title">{{ object.related_post.title }}</h2>
    <div class="delete_content_content">{{object.body|safe}}</div>
  </div>
  <div class="delete_content_footer">
    <p>This operation CANNOT BE UNDONE!</p>
    <button class="btn btn_danger" type="submit"><i
        class="fad fa-trash-alt"></i>&nbsp;Confirm</button>
    <a class="btn" href="{{ view.get_success_url }}"><i
        class="fad fa-ban"></i>&nbsp;Cancel</a>
    <a class="btn" href="{% url 'blog:edit_comment' object.id %}"><i
        class="fad fa-edit"></i>&nbsp;Edit Instead</a>
  </div>
</form>

{% endblock body %}
