{% extends 'blog/_base.html' %}

{% block body %}
{% for blog in blogs %}
<article class="blog_article">
  <h2 class="blog_title">{{ blog.title|capfirst }}</h2>

  <div class="blog_description">{{ blog.desc }}</div>

  <div class="blog_buttons">
    <a class="btn" href="{% url 'blog:detail' blog.slug %}">Read More ...</a>
  </div>
  <div class="blog_body_footer index">
    <div class="blog_comment_badge" title="Go to the Comments"><span>
        {% with blog.no_of_comments as total_comments %}
        <a href="{% url 'blog:detail' blog.slug %}#comments">{{total_comments}}&nbsp;<i
            class="fal fa-comment"></i></a>
        {% endwith %}
      </span>
    </div>
    <div class="blog_date_wrapper"><span class="blog_date_posted">Posted by <a
          class="blog_user"
          href="{% url 'user-profile' blog.user.id %}">{{blog.user}}</a> on
        {{ blog.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
      {% if blog.created_at|date:"SHORT_DATETIME_FORMAT" != blog.updated_at|date:"SHORT_DATETIME_FORMAT" %}
      <span class="blog_date_updated">(Edited)</span>
      {% endif %}
    </div>
  </div>
</article>
{% endfor %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="btn" href="?page=1">&laquo; first</a>
    <a class="btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% else %}
    <span class="btn btn-disabled">&laquo; first</span>
    <span class="btn btn-disabled">previous</span>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a class="btn" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="btn" href="?page={{ page_obj.paginator.num_pages }}">last
      &raquo;</a>
    {% else %}
    <span class="btn btn-disabled">next</span>
    <span class="btn btn-disabled">last &raquo;</span>
    {% endif %}
  </span>
</div>


{% endblock body %}
