{% extends 'blog/_base.html' %}

{% block body %}

{% if blogs %}
<div class="embedded_search">
  {% include 'blog/sidebar/sidebar_search.html' %}
</div>

{% if preferences.SitePreferences.pinned_post and not page_obj.has_previous %}
<div class="pinned_post_outer">
  <div class="pinned_post_wrapper">
    <div class="pinned_icon"><i class="fas fa-thumbtack"
        data-fa-transform="rotate-20"></i></div>
    {% with preferences.SitePreferences.pinned_post as blog %}
    {% include 'blog/_single_post_summary.html' %}
    {% endwith %}
  </div>
</div>
{% endif %}

<div class="popular_posts only_no_sb">
  {% load blog_extras %}
  {% sidebar as sb %}
  <article class="sidebar_article">
    {% include 'blog/sidebar/sidebar_popular.html' %}
  </article>
</div>

{% with preferences.SitePreferences.pinned_post as pinned %}
{% for blog in blogs %}
{% comment %} {% if page_obj.number != 1 and blog != pinned %} {% endcomment %}
{% include 'blog/_single_post_summary.html' %}
{% comment %} {% endif %} {% endcomment %}
{% endfor %}
{% endwith %}

{% if page_obj.paginator.num_pages != 1 %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a class="btn hide_on_xs" href="?page=1">&laquo; first</a>
    <a class="btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% else %}
    <span class="btn btn-disabled hide_on_xs">&laquo; first</span>
    <span class="btn btn-disabled">previous</span>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a class="btn" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="btn hide_on_xs"
      href="?page={{ page_obj.paginator.num_pages }}">last
      &raquo;</a>
    {% else %}
    <span class="btn btn-disabled">next</span>
    <span class="btn btn-disabled hide_on_xs">last &raquo;</span>
    {% endif %}
  </span>
</div>
{% endif %}

{% else %}
<div class="no_posts_yet">
  <div>
    There have not been any articles posted to
    <span
      class="no_posts_site">{{ preferences.SitePreferences.sitename }}</span>
    (yet!)
  </div>
</div>
{% endif %}

{% endblock body %}
