{% extends 'blog/_base.html' %}

{% block body %}
{% for blog in blogs %}
<article class="blog_article">
  <h2 class="blog_title">{{ blog.title|capfirst }}</h2>
  <div class="blog_date-wrapper">Posted by <a class="blog_user"
      href="{% url 'profile' %}">{{blog.user}}</a> on <span
      class="blog-date-posted">{{ blog.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
    {% if blog.created_at|date:"SHORT_DATETIME_FORMAT" != blog.updated_at|date:"SHORT_DATETIME_FORMAT" %}
    <span class="blog-date-updated">(Updated at
      {{ blog.updated_at|date:"SHORT_DATETIME_FORMAT" }})</span>
    {% endif %}
  </div>
  <div class="blog_description">{{ blog.desc }}</div>
  <div class="blog-buttons">
    <a class="btn" href="{% url 'blog:detail' blog.slug %}">View More -></a>
  </div>
</article>
{% endfor %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>


{% endblock body %}
