{% extends 'blog/_base.html' %}
{% load blog_extras %}
{% block body %}

<div class="series_header">Series.</div>
<div class="series_list_container">
  {% if series_list %}
  {% for series in series_list %}
  <div class="series_list_series">
    <a class="series_list_series_link"
      href="{% url 'blog:series_detail' series.slug %}">{{ series }}
      ({{series.posts.count}} post{{series.posts.count|pluralize}})</a>
  </div>
  <div class="series_description">
    {{ series.description|safe }}
  </div>
  <div class="series_author">
    created by {{ series.series_creator|title }}
  </div>
  {% endfor %}
  {% else %}
  <div class="tags_no_tags_text">We do not have any Series of articles yet.
  </div>
  {% endif %}
</div>
<div class=tags_home_btn>
  <a class="btn" href="{% url 'blog:index' %}"><i
      class="fad fa-home"></i>&nbsp;Back to Index</a>
</div>

{% endblock body %}
