{% load static %}
<!DOCTYPE html>
<html lang="en">

  {% include 'blog/_head.html' %}
  {% include 'blog/_noscript.html' %}

  <body>
    <div class="site_container">
      {% include 'blog/_header.html' %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% comment %} <div class="content_container"> {% endcomment %}
        <main class="main_container">
          {% block body %}
          {% endblock body %}
        </main>
        {% comment %} <aside class="sidebar_container">
          <article class="sidebar_article">
            {% include 'blog/sidebar/sidebar_search.html' %}
          </article>
          <article class="sidebar_article">
            {% include 'blog/sidebar/sidebar_recent.html' %}
          </article>
          <article class="sidebar_article">
            {% include 'blog/sidebar/sidebar_popular.html' %}
          </article>
          <article class="sidebar_article">
            {% include 'blog/sidebar/sidebar_tags.html' %}
          </article>
        </aside> {% endcomment %}
        {% comment %}
      </div> {% endcomment %}
      {% include 'blog/_footer.html' %}
    </div>
  </body>

</html>
