{% extends 'users/_base.html' %}

{% block body %}
<div class="form_container">
  <div class="form_header">Please Log in.</div>
  <form method="POST">
    <div class="form_form">
      {% csrf_token %}
      {{ form.media }}
      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="login_form_error">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}


      {% for error in form.non_field_errors %}
      <div class="login_form_error"><strong>{{error|escape}}</strong></div>
      {% endfor %}

      <div class="form_field_label">{{ form.username.label|capfirst }}</div>
      <div class="form_field_field">{{ form.username }}</div>

      <div class="form_field_label">{{ form.password.label|capfirst }}</div>
      <div class="form_field_field">{{ form.password }}</div>

      <div class="login_form_captcha">{{ form.captcha }}</div>


      <div class="form_button">
        <button class="btn" type="submit"><i
            class="fad fa-sign-in"></i>&nbsp;Login</button>
      </div>
      <hr class="form_hr">
      <div class="form_button">or <a class="btn" href="{% url 'register' %}"><i
            class="fad fa-user-plus"></i>&nbsp;Register</a> as a new
        user.</div>
    </div>
  </form>
</div>

{% endblock body %}
