{% extends 'blog/_base.html' %}

{% block body %}
<div class="login_container">
  <div class="login_header">Please Log in.</div>

  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="login_field">
      <span class="login_field_label">{{ field.name|capfirst }}</span>
      <span class="login_field_field">{{ field }}</span>
    </div>
    {% endfor %}
    <div class="login_button">
      <button class="btn" type="submit">Login</button>
    </div>
  </form>
</div>

{% endblock body %}
