{% extends 'blog/_base.html' %}

{% block body %}

<div class="form_container">
  <div class="form_header">Register</div>
  <form method="POST">
    <div class="form_form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form_field_label">{{ field.name|capfirst }}</div>
      <div class="form_field_field">{{ field }}</div>
      {% endfor %}
      <div class="form_button">
        <button class="btn" type="submit"><i
            class="fad fa-user-plus"></i>&nbsp;Register</button>
      </div>
    </div>
  </form>
</div>

{% comment %} <div class="login_container">
  <div class="login_header">Register</div>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="login_field">
      <span class="login_field_label">{{ field.name|capfirst }}</span>
      <span class="login_field_field">{{ field }}</span>
    </div>
    {% endfor %}
    <div class="login_button">
      <button class="btn" type="submit">Signup</button>
    </div>
  </form>
</div> {% endcomment %}


{% endblock body %}
