{% extends 'users/_base.html' %}

{% block body %}

<div class="form_container">
  <div class="form_header">Register</div>
  <form method="POST">
    <div class="form_form">

      {% csrf_token %}

      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="login_form_error">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endfor %}
      {% endif %}

      {% for field in form %}
      <div class="form_field_label">{{ field.label|capfirst }}</div>
      <div
        class="{% if field.name == 'captcha' %}login_form_captcha{% else %}form_field_field{% endif %}">
        {{ field }}</div>
      {% endfor %}
      <div class="form_button">
        <button class="btn" type="submit"><i
            class="fad fa-user-plus"></i>&nbsp;Register</button>
      </div>
      <hr class="form_hr">
      <div class="form_button">or <a class="btn" href="{% url 'login' %}"><i
            class="fad fa-sign-in"></i>&nbsp;Login</a> an existing User.</div>
    </div>
  </form>
</div>
{% endblock body %}
