{% extends 'blog/_base.html' %}
{% load pagination_tags %}

{% block body %}
<div class="profile_page_wrapper">
  <div class="profile_meta_wrapper">

    {% if request.resolver_match.url_name == 'my-profile' %}
    <a href="{% url 'edit-profile' %}" class="profile_edit_button"
      title="Edit your Profile">
      Edit
    </a>
    {% endif %}

    <div class="profile_meta_left"><img class="profile_avatar"
        src="{{ person.profile.image.url }}" alt=""></div>
    <div class="profile_meta_right">
      <h2 class="profile_username">{{ person.username|capfirst }}</h2>
      <div class="profile_joined_date">Joined :
        {{person.date_joined|date:"dS \o\f F Y"}}</div>
      <div class="profile_location">
        {%if person.profile.location%}
        Location :
        <span class="profile_location_text">
          {{person.profile.location}}
        </span>
        {% endif %}
      </div>
      {% with post_count=person.blog_posts.all.count comment_count=person.comments.all.count %}
      <div class="profile_post_count">Contributions : {{post_count}}
        post{{post_count|pluralize}} / {{comment_count}}
        comment{{comment_count|pluralize}}
      </div>
      {% endwith %}
      <div class="profile_social_buttons">
        {%for key, social in links.items %}
        {% if social.value %}
        <span class="profile_social_link"><a
            href="{{social.base_url}}{{social.value}}" title="{{social.title}}"
            target="_blank" rel="noopener"><i class="{{social.icon}}"
              style="color:{{social.color}}"></i></a></span>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if person.profile.bio %}
    <div class="profile_meta_bio">
      {{person.profile.bio|linebreaks}}
    </div>
    {% endif %}
  </div>

  {% with person.blog_posts.all as posts %}
  {% if posts %}
  <div class="profile_post_wrapper">
    <div class="profile_post_section_title">Posts by
      {{ person.username|capfirst }}.</div>
    {% autopaginate posts 8 %}
    {% for post in posts %}

    {% if not post.draft or post.draft and request.resolver_match.url_name == 'my-profile' %}


    <article>
      <a class="profile_post_summary {% if post.draft%}profile_post_summary_draft{% endif %}"
        href="{% url 'blog:detail' post.slug %}">
        <div class='profile_post_title'>{{ post.title|capfirst }}</div>

        <div class="profile_date_wrapper">
          {% if post.created_at|date:"SHORT_DATETIME_FORMAT" != post.updated_at|date:"SHORT_DATETIME_FORMAT" %}
          Updated :
          {{ post.updated_at|date:"SHORT_DATETIME_FORMAT" }}
          {% else %}
          Posted :
          {{ post.created_at|date:"SHORT_DATETIME_FORMAT" }}
          {% endif %}
        </div>
        <div class='profile_post_desc'>{{ post.desc }}</div>
      </a>
    </article>
    {% endif %}
    {% endfor %}
  </div>
  {% paginate %}
  {% endif %}
  {% endwith %}


  {% with person.comments.all as comments %}
  {% if comments %}
  <hr class="profile_separator">
  <div class="profile_comments_section">
    <div class="profile_section_title">Comments by
      {{ person.username|capfirst }}.</div>
    {% autopaginate comments 8 %}
    {% for comment in comments %}
    <div class="profile_comments_wrapper">
      <div class="profile_comments_header">
        On
        '<a class="profile_comments_title"
          href="{% url 'blog:detail' comment.related_post.slug%}">{{ comment.related_post.title|capfirst }}</a>'
        by
        <a href="{% url 'user-profile' comment.related_post.user.id %}"
          class="profile_comments_user">{{ comment.related_post.user }}</a>
      </div>
      <div class="profile_comments_body">{{ comment.body|safe }}</div>
      <div class="profile_comments_date">
        {{ comment.created_at}}
      </div>
    </div>
    {% endfor %}
    {% paginate %}
    {% endif %}
    {% endwith %}
  </div>
  {% endblock body %}
