{% load blog_extras %}
{% sidebar as sb %}

{% if sb.posts %}
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_search.html' %}
</article>
{% endif %}
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_recent.html' %}
</article>
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_popular.html' %}
</article>
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_series.html' %}
</article>
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_tags.html' %}
</article>
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_user.html' %}
</article>
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_rss.html' %}
</article>
{% if user.is_superuser %}
<article class="sidebar_article">
  {% include 'blog/sidebar/sidebar_admin.html' %}
</article>
{% endif %}
