<div class="sidebar_article_header">Site Admin</div>
<div class="sidebar_article_content sidebar_admin">
  <a class="sidebar_link" href="">Admin Site</a>
  <hr class="sidebar_separator">

  {% if blog %}
  <a class="sidebar_link" href="">Moderate this Post</a>
  {% endif %}
  <a class="sidebar_link" href="">Moderate Comments</a>
  {% if tags %}
  <a class="sidebar_link" href="">Moderate Tags</a>
  {% endif %}
  <hr class="sidebar_separator">
  {% if maintenance_mode %}
  <a class="sidebar_link sidebar_danger" href="/maintenance-mode/off/"
    data-no-instant>Exit
    Maintenance</a>
  {% else %}
  <a class="sidebar_link sidebar_danger" href="/maintenance-mode/on/"
    data-no-instant>Maintenance Mode</a>

  {% endif %}
</div>
